ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul > li {
    border: 1px gray solid;
    border-radius: 5px;
    margin: 30px 0;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-flow: column;
    box-shadow: 1px 3px 3px rgb(180, 180, 180);
}
ul > li > .post-add-form {
    border: none;
    background: transparent;
}
ul > li > .button-container {
    text-align: end;
    width: 100%;
}
ul > li > .button-container > button {
    color: white;
    align-self: flex-end;
    background: rgb(221, 56, 56);
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px darkred solid;
    border-radius: 5px;
    font-weight: bold;
}
ul > li > input {
    margin-top: 15px;
}
ul > li > button {
    color: white;
    align-self: flex-start;
    background: rgb(221, 56, 56);
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px darkred solid;
    border-radius: 5px;
    font-weight: bold;
}
ul > li > .button-container > button:first-child {
    background: rgb(56, 133, 221);
    border: 1px rgb(0, 21, 139) solid;
}
